.navbar {
  margin-top: 0;
  background-color: lavender;
  font-family: sans-serif;
  height: 70px;
  overflow: hidden;
}

ul {
  margin-top: 0;
  padding-top: 25px;
  padding-right: 20px;
}

li {
  margin-top: 20;
  display: inline;
  padding-right: 15px;
  float: right;
}
#headerLogo {
  float: left;
  padding-left: 40px;
  font-size: 20px;
  font-family: fantasy;
  color: purple;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 549;
  font-size: medium;
}

a:hover {
  color: black;
}

#logoName {
  float: left;
  padding-right: 5px;
  position: absolute;
  left: 30px;
  top: 18px;
}

.logo {
  width: 50px;
  height: 40px;
  border-radius: 5px;
}
